body{
    overflow-x: hidden;
    padding: 40px;
}
*{
    padding: 0;
    margin: 0;
}
.recipe{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.recipe ul{
   
    display: flex;
    gap: 30px;
    list-style: none;

}
.input{
    border-radius: 25px;
    padding: 12px 24px;
    border: none;
    background-color: #150b2b0d;
    margin-right: 10px;
    
    
}
.input i{
    align-items: center;
    color: #150b2bb3;
}
.search-1{
    border: none;
    background-color: transparent;
    padding-left: 8px;
    font-size: 16px;
}
.search{
    display: flex;
    align-items: center;
}
/* banner start */
.banner h1{
    font-size: 52px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 24px;
}
.banner p{
    font-size: 18px;
    color: #fff;
    margin-bottom: 24px;
}



.btn-2{
    height:65px;
    width:187px;
    background-color: #0BE58A;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    margin-right: 24px;
    font-weight: 500;
}

.btn{
    height:65px;
    width:187px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    
    font-weight: 500;
    margin-right: 24px;
}


.background{
    background-image: url(img/Rectangle\ 1\ \(7\).png);
    background-repeat: no-repeat;
    height: 100vh;
   display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;

}
